@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    font-size: 18px;
    font-family: 'Roboto', Verdana, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;

    overflow: hidden;
}

.btn {
    padding: 0 2em;

    background-color: #00bfff;
    border: none;

    border-radius: 0.5em;

    color: white;

    font-weight: bold;

    cursor: pointer;
}

.btn:hover {
    background-color: #00a4db;
}

.red {
    background-color: #e03939;
}

.red:hover {
    background-color: #c03232;
}

.white {
    background-color: white;
    color: black;
}

.white:hover {
    background-color: #cecece;
}

/* -------------------------- Side menu --------------------------- */

.side-menu {
    width: 15%;
    height: 100vh;
    float: left;

    font-size: 1.2rem;

    color: white;
    background-color: #67A7FB;
    background-image: linear-gradient(-90deg, #67A7FB 0%, #48c3eb 80%);

    user-select: none;
}

.side-menu hr {
    width: 100%;
    height: 2px;

    margin-top: 2rem;

    border: 0 none;

    background-color: #8BAED8;
}

.menu-title {
    height: 10vh;

    padding: 0 1.5rem;
    margin-bottom: 1rem;

    display: flex;
    align-items: center;

    border-bottom: 2px solid #8BAED8;

    font-size: 2rem;
    letter-spacing: 0.05rem;

    font-family: 'Lora', serif;
    font-weight: 500;
}

.submenu {
    /* width: 100%; */
    height: 3rem;

    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2rem;

    font-size: 1.4rem;

    font-weight: 600;
}

.submenu button {
    height: 100%;

    padding: 0 1rem;

    background-color: transparent;

    border-radius: 0.3rem;
    font-size: 1.4rem;
}

.submenu button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.side-menu ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.side-menu ul li {
    height: 3rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;

    font-weight: 500;

    text-overflow: ellipsis;
    overflow: hidden;
}

.side-menu ul li:not(.selected):hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.side-menu ul .selected {
    background-color: white;
    color: black;
}


/* ----------------------- Notes body ------------------------ */

.notes-body {
    width: 85%;
    height: 100vh;
    float: right;

    display: flex;
    flex-direction: column;

}

.notes-body-placeholder {
    background-color: #ffffff;
    background-image: linear-gradient(170deg, #ffffff 30%, #d7e1ec 74%);

    justify-content: center;
    align-items: center;

    color: rgb(61, 61, 61);
    user-select: none;
}

.notes-body-placeholder .btn {
    font-size: 1.3rem;
    padding: 0.6rem 3rem;
}

.notes-body .notes-header {
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid #8BAED8;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.notes-body .notes-header input {
    flex-grow: 7;
    flex-shrink: 1;
    width: 0px;

    padding-left: 3rem;

    border: none;

    text-overflow: ellipsis;

    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(61, 61, 61);
}
.notes-body .notes-header input:focus {
    outline: none;
    text-overflow: initial;
}

.notes-body .notes-header .btn {
    flex-grow: 1;
    flex-shrink: 1;
    width: 0px;

    height: 2rem;
    font-size: 1rem;

    margin: 0 1rem;
}

.notes-date {
    padding: 1rem 3rem;
    color: rgb(88, 88, 88);
    font-size: 1.1rem;

    height: 1rem;

    font-family: 'Roboto', sans-serif;
}

.notes-body textarea {
    flex-grow: 1;

    padding: 2rem;
    margin: 0;

    background-color: #ffffff;
    background-image: linear-gradient(170deg, #ffffff 30%, #d7e1ec 74%);

    border: none;
    resize: none;

    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
}

.notes-body textarea:focus {
    outline: none;
}


@media only screen and (max-width: 1000px) {
    .notes-body {
        width: 70%;
    }
    .side-menu {
        width: 30%;
    }
}

.hidden {
    display: none;
}

/* --------------------------- modal -------------------- */

.modal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    transition: all ease-in 200ms;

    font-size: 0.8rem;

    box-shadow: 0.5rem 0.5rem 2rem 0rem grey;
}

.modal.hidden {
    top: 0;
    transform: translate(-50%, -200%);
}

.modal-save {
    font-size: 0.9rem;

    width: 30em;
    height: 3em;
    top: 1em;

    border-radius: 0.5em;

    /* background-color: rgba(255, 123, 0, 0.822); */
    background-color: #f94327;
    background-image: linear-gradient(316deg, #f94327 0%, #ff7d14 74%);

    color: white;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal-save .btn {
    height: 1.5em;
    font-size: 1.2em;
    margin-left: 1em;
    color: #f94327;
}